<div class="egawa">
  <div class='container'>
      <h3>新規登録</h3>
          <% if @post.errors.any? %>
          <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
                <ul>
                  <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
        <%= form_with model:@post do |f| %>
      　   <div class="row">
      　     <div class="col-md-6">
      　       <div class="form_group">
      　         <!--プレビュー用コード-->
                  <img id="preview" style="width:40%;">
                    <script>
                      $('#post_image').on('change', function (e) {
                        var reader = new FileReader();
                          reader.onload = function (e) {
                            $("#preview").attr('src', e.target.result);
                          }
                          reader.readAsDataURL(e.target.files[0]);
                      });
                    </script>
      　               <tr>
                        <td>
                          <%= f.attachment_field :image %>
                        </td>
                      </tr>
              </div>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <div class="row form_group">
                <label class="control-label col-md-2">撮影場所</label>
                <div class="col-md-5">
                  <%= f.text_field :title, :class => "form-control edit-form" %>
                </div>
              </div>
              </br>
              <div class="row form_group">
                <label class="control-label col-md-2">撮影地説明</label>
                <div class="col-md-5">
                  <%= f.text_area :body, :class => "form-control edit-form" %>
                </div>
              </div>
              </br>
              <div class="row form_group">
                <label class="control-label col-md-2">ジャンル名</label>
                <%#= form_with model: @post, method: :post do |f| %>
                  <%= f.select :genre_id, Post.post_areas.keys, {} %>
                <%# end %>
              </div>
              </br>
              <div class="row form_group">
                <label class="control-label col-md-2">都道府県選択</label>
                <%# form_with model: @post, method: :post do |f| %>
                <%= f.select  :location_id, Post.location_areas.keys, {} %>
                <%# end %>
              </div>
              </br>
              <div class="row form_group">
                <label class="control-label col-md-3">おすすめの撮影時期</label>
                <div class="col-md-4">
                  <%= f.text_field :text, :class => "form-control edit-form" %>
                </div>
              </div>
              </br>
              <div class="form-group">
                 <p><%= f.submit '投稿' %></p>
              </div>
            </div>
      　   </div>
      　<% end %>
  </div>
</div>