<div class="egawa">
  <div class='container'>
    <div class='row'>
      <div class="col-md-6">
        <h3 class="title">投稿詳細</h3>
  		    <tr>
    		    <td>
              <%= attachment_image_tag(@post,:image, size: "180x150", format: 'jpeg',fallback: "no_image.jpg") %>
    		    </td>
    		    <td id="post_<%= @post.id %>">
              <%= render 'public/favorites/favorite-btn' ,  post: @post %>
            </td>
    		  </tr>
    		  <table class='table'>
    		    <tr>
    		      <td>
    		        <!--撮影者<#%= link_to(@customer.name, user_path(@customer)) %>-->
    		        撮影者<%= @customer.name %>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		       撮影場所 <%= @post.title %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		        撮影地説明 <%= @post.body %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
              <td>
                ジャンル名 <%= @post.genre_i18n %><br><br>
              </td>
            </tr>
            <tr>
              <td>
                都道府県名 <%= @post.location_i18n %><br><br>
              </td>
            </tr>
    		    <tr>
    		      <td>
    		        おすすめ撮影時期 <%= @post.text %><br><br>
    		      </td>
    		    </tr>
          </table>

      </div>
    </div>
  </div>
</div>
