<div class="egawa">
  <div class='container'>
    <div class='row'>
      <div class="col-md-6">
        <h3 class="title">投稿詳細</h3>
  		    <tr>
    		    <td>
              <%= attachment_image_tag(@post,:image, size: "180x150", format: 'jpeg',fallback: "no_image.jpg") %>
    		    </td>
    		    <div id="post_<%= @post.id %>">
                <%= render 'public/favorites/favorite-btn' ,  post: @post %>
            </div>
            <!--投稿したユーザーのみ編集と投稿削除できるように-->
            <% if @post.customer == current_customer %>
              <td><%= link_to "投稿編集", edit_post_path(@post) %></td>
            　<td><%= link_to "投稿削除", post_path(@post), method: :delete %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
    		  </tr>
    		  <table class='table'>
    		    <tr>
    		      <td>
    		        撮影者<%= @customer.name %>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		       撮影場所 <%= @post.title %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		        撮影地説明 <%= @post.body %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
              <td>
                ジャンル名 <%= @post.genre_i18n %><br><br>
              </td>
            </tr>
            <tr>
              <td>
                都道府県名 <%= @post.location_i18n %><br><br>
              </td>
            </tr>
    		    <tr>
    		      <td>
    		        おすすめ撮影時期 <%= @post.text %><br><br>
    		      </td>
    		    </tr>
          </table>

      </div>
      <!--コメント機能-->
      <div class="col-md-6">
        <table class="comments">
          <%= render 'public/comments/comment-form' ,  post: @post %>
        </table>
          <h2>コメントフォーム</h2>
            <%= form_with(model:[@post, @comment], method: :post) do |f| %>
              <%= f.text_area :comment_text, size:"50x5" %>
                <%= f.submit 'コメントする' %>
            <% end %>
      </div>
    </div>
  </div>
</div>
