<div class="egawa">
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h3 class="title">投稿詳細</h3>
          <!--<#% @post.each do |post| %>-->
		      <table class='table'>
  		      <tr>
    		      <td>
                <%= attachment_image_tag(@post,:image, size: "180x150", format: 'jpeg',fallback: "no_image.jpg") %>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		        撮影者<%= link_to(@customer.name, users_path(@customer)) %>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		       撮影場所 <%= @post.title %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
    		      <td>
    		        撮影地説明 <%= @post.body %><br><br>
    		      </td>
    		    </tr>
    		    <tr>
              <td>
                ジャンル名 <%= @post.genre_id %><br><br>
              </td>
            </tr>
            <tr>
              <td>
                都道府県名 <br><br>
              </td>
            </tr>
    		    <tr>
    		      <td>
    		        おすすめ撮影時期 <%= @post.text %><br><br>
    		      </td>
    		    </tr>
    		    <!--<tr>-->
    		    <!--  <#% if post.customer == current_customer %>-->
                <!--<td><#%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>-->
          <!--      <td><#%= link_to "削除", post_path(post), method: :delete %></td>-->
          <!--      <td><#%= link_to '投稿削除', post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>-->
          <!--    <#% else %>-->
          <!--      <td></td>-->
          <!--      <td></td>-->
          <!--    <#% end %>-->
          <!--  </tr>-->
          </table>
          <!--<#% end %>-->
      </div>
    </div>
  </div>
</div>
